*{
    margin: 0;
    padding: 0;
}
header {
    background-color: aquamarine;
    height: 200px;
    width: 100%;
}
nav {
    background-color: black;
    height: 100px;
    width: 100%;
}
section{
    background-color: blue;
    height: 800px;
    width: 100%;
}
footer{
    background-color: brown;
    height: 200px;
    width: 100%;
}