.nav li{
    list-style: none;
    background-color: blue;
    text-align: center;
    width: 200px;
    border: 1px dotted #fff;
    height: 30px;
    color: #fff;
}
.nav li:hover{
    background-color: red;
}